html {
  font-size: 16px;
  font-family: "Arial";
}

header {
  height: 4rem;
  display: inline-flex;
}

.logo {
  margin-left: 1.5rem;
  text-transform: uppercase;
}

header nav li {
  margin-right: 1rem;
  display: inline-flex;
}

.first-word {
  font-weight: bold;
}

#campus {
  display: inline-flex;
  padding: 2rem 1.5rem;
}

.campus h5 {
  background-color: gray;
  color: white;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

.campus {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
}

.campus .image {
  margin: 2rem 2.5rem 2rem 1.5rem;

}

.campus h2 {
  font-size: 2.5rem;
  color: gray;
}

.campus p {
  font-size: 1.5rem;
}

.second {
  display: flex;
  justify-content: space-around;
}

.first-half {
  display: block;
  width: 60%;
  margin: 2rem 1.5rem;
}

.first-half img {
  width: 60%;
}

.second-half {
  display: flex;
  flex-direction: column;
}

.block {
  width: 423px;
  display: flex;
}

.block img {
  width: 35%;
}

.container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

#learn h3 {
  text-align: center;
}
